.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/reactApp2/FileContentIndex/5d40056b-53e5-4c23-a786-fe9e9af7822e.vsidx
.vs/reactApp2/FileContentIndex/d1433f4a-291f-43e7-8cde-4dbc17add53a.vsidx
.vs/reactApp2/FileContentIndex/read.lock
.vs/reactApp2/v17/.suo
